/* main.css */
/* General styling */

html {
	font-family: "Helvetica Neue", Helvetica;
	background-color: rgb(242, 242, 242);
}

#log {
	display: box;
	display: -webkit-box;
	display: -moz-box;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;

	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	border-bottom: solid 1px #b7b7b7;
}

#log > ul {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;

	list-style: none;
}

#log > ul > li {
	height: 19px;

	text-align: right;
}

#input {
	display: box;
	display: -webkit-box;
	display: -moz-box;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
	margin-top: 5px;
	padding-right: 5px;

	border: none;
	background: none;
	text-align: right;
}

.keypad {
	margin-top: 5px;
}

.keypad > .main-pad {
	display: box;
	display: -webkit-box;
	display: -moz-box;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-sizing: horizontal;

	width: 100%;
}

.keypad > .main-pad > .pad {
	display: box;
	display: -webkit-box;
	display: -moz-box;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-sizing: vertical;
}

.keypad button {
	display: box;
	display: -webkit-box;
	display: -moz-box;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}